# IDE and environment
.vscode/
*/.python-version
*/__pycache__

# raw data, too big to upload to github
**/*/raw_data
**/*/data
**/*/resources

# postgres db
*/pg_database 

# jupyter related
*/.ipynb_checkpoints


# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content